/*Logo*/
.logoarriba {
    display: flex;
    justify-content: center;
    background-color: $colorcrimson;
    gap: 1rem;
}

.logoabajo {
    @extend .logoarriba;
    background-color: $colorblack;
    height: 3rem;
    padding: 0.2rem
}

.logoimg {
    height: 3rem;
}


